.time {
  display: flex;
  gap: 20px;
}

.mat-form-field {
  width: 100%;
}

.hearder-content {
  display: flex;
  justify-content: space-between;
}

.search-room-button {
  margin-top: 10px;
}

.custom-time-input {
  padding: 15px 0px 0px 0px;
  height: 17px;
  box-sizing: border-box;
}
