<div class="login">
  <h1>BOOK A MEETING ROOM</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="username">
      <mat-form-field appearance="fill">
        <mat-label>username</mat-label>
        <input formControlName="userName" matInput />
      </mat-form-field>
    </div>
    <div class="password">
      <mat-form-field appearance="fill">
        <mat-label>password</mat-label>
        <input formControlName="password" matInput type="password"/>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>
